/*all*/

*{
    font-family: 'Open Sans';
    font-size: 15px;
    color: #2d2d2d;
}

a{
   color: #8c4e35;
}

a:hover{
    color: #bd7a60;
}

header, section, footer{
    width: 100%;
    margin: 0 auto;
    clear: both;
    display: block;
    
}

nav{
    display: block;
}

section{
    padding-top: 20px;
}

.main-button{
    background-color: #8c4e35;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 2px;
}

.main-button:hover{
    background-color: #bd7a60;    
}

.extra-button{
    color: #8c4e35;
    text-transform: uppercase;
    font-size: 20px;
    border: 3px solid  #8c4e35;
    padding: 2px 20px 2px 20px;
    background-color: rgba(0,0,0,0);
    border-radius: 2px;
}

.extra-button:hover{
    border-color: #bd7a60;
    color: #bd7a60;    
}


h2{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
}

p.description-section{
    color: #4e4e4e;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
}

.center{
   margin: 0 auto;
   display: block;   
}


/*header*/

/*header - top*/

.top{
    background-color: #2d2d2d;
    height: 70px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.top img{
    margin-top: 15px;
}

nav ul li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 25px;
}

nav ul li:last-child{
    margin-right: 0px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    color: #bd7a60;    
}

.top__phone{
    color: #fff;
    margin-top: 15px;
    font-size: 18px;
    text-align: right;
}

.icon-top{
    font-size: 22px;
    color: #fff;
}

.top__email{
    text-align: right;
    margin-top:-5px; 
}

.top__email a{
    color: #fff;   
    font-size: 13px;
}

.top__email a:hover{
    color: #bd7a60;    
}

/*header -main*/

.main{
    background-color: #c8cdd0;
    height: 507px; 
}

.main__content{
    background: url(../images/lightning.png) no-repeat;
    padding: 100px 0 0 0;
    height: 407px;
}

h1{
    font-size: 36px;
    color: #9e8d3d;
    font-weight: 600;
}

.main__content ul{
    padding: 0;
    margin-bottom: 15px;
}

.main__content ul li{
    list-style-type: none;
    
}

.main__content ul li:before{
    content:"\f058";
    font-family: 'FontAwesome';
    margin-right: 3px;
    color: #747070;
}

/*info*/
#info{
    background-image: url(../images/bg_grey.jpg);
    height: 620px;
}

.info__right p{
    line-height: 18px;
    font-size: 15px;
    margin-bottom: 20px;
}

.info-border{
    border: 3px dotted #f69730;
    border-radius: 5px;
    padding: 5px 10px;
    font-style: italic;
    font-weight: 600;
}

/*services*/
#services{
    height: 600px;
    background-image: url(../images/bg_white.jpg);
}

.services-box h3{
    color: #9e8d3d;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
}

.services-box p{
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin: 20px 20px;
    
}

p.price{
    font-size: 30px;
    color: #f69730;
    font-weight: 600;
}

.price:after{
    
    content: "\f158";
    font-family: 'FontAwesome';
    margin-left: 5px;
    font-size: 26px;
    font-weight: normal;
}

#services button{
    width: 360px;
    margin: 0 auto;
    display: block;
    
}

/*portfolio*/

#portfolio{
    background-image: url(../images/bg_black.jpg);
    height: 1315px;
}

.portfolio__img{
    width: 390px;
    height: 390px;    
}

#portfolio h2{
    color: #d3d3d3;
}

#portfolio p{
    color: #d3d3d3;
}

#portfolio-link{
    background-image: url(../images/bg_black.jpg);
    height: 100px;
}

#portfolio-link p{
    color: #d3d3d3;
}


/*workscheme*/

#workscheme{
    background-image: url(../images/bg_white.jpg);
    height: 1100px;
}

.workscheme__box{
    width: 293px;
    height: 450px;       
}

.workscheme__box_color{
    background-color: #ebedeb;
    margin: 15px;
    width: 263px;
    height: 420px;
    padding-top: 10px;
}

.number{
    clear: both;
    margin-top: 30px;    
}

.number__numeral{
    width: 50px;
    height: 50px;
    float: left;
    background-image: url(../images/star.svg);
    margin: 40px 30px 0px 20px;
}

.number__numeral p{
    color: #545454;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin-top: 5px;
}

.workscheme__box h3{
    color: #9e8d3d;
    font: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 30px;
}

.workscheme__box_color>p{
    text-align: center;
    margin: 0px 15px;     
}


/*sale*/

#sale{
    background-color: #cdd6dd;
    height: 400px;
}

.icon-sale{
    font-size: 62px;
    color: #9e8d3d;
}

.sale__header{
    color: #9e8d3d;
    font-size: 68px;
    text-align: center;
    font-weight: 600;
}

#sale p{
    font-size: 30px;
    text-transform: uppercase;
    color: #2f2f2f;
    text-align: center;
    line-height: 36px;
    margin: 20px 0px;
}

/*clients*/

#clients{
    height: 500px;
     background-image: url(../images/bg_white.jpg);
}


/*reviews*/

#reviews{
    background-image: url(../images/bg_grey.jpg);
    height: 800px;
}

#reviews img{
    border-radius: 100px;
    filter: grayscale(100%);
    transition: 1s linear;
    
}

#reviews img:hover{
    filter: grayscale(40%);    
}

.review>.row{
    margin-top: 40px;
    height: 170px;
}

h5{
    margin-bottom: 10px;
}

h5>a{
    font-size: 14px;
    font-style: italic;
    text-decoration: none;
    
}

.reviews-text{
    font-size: 14px;
    line-height: 18px;
    padding: 10px 20px;
}

h6{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    text-align: right;
    font-style: italic;
}

/*contacts*/
#contacts{
    background: #c3cac3;
    height: 500px;
}

.contacts__box_color-1{
    background-color: #505f6b;
    margin: 15px;
    width: 360px;
    height: 275px;
    padding-top: 10px;
}

form>h3{
    color: #ebedeb;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0px;
}

form>h4{
    color: #ebedeb;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0px 5px 0px;
    display: block;
}

form>input{
    width: 280px;
    height: 30px;
    text-align: center;
    color:#c3cac3;
}

.form-br{
    height: 10px;
}

form>select{
    width: 284px;
    height: 30px;
    color: #505f6b;    
}

.form-button{
    width: 284px;
}

.contacts__box_color-2{
    background-color:#ebedeb;
    margin: 15px;
    width: 360px;
    height: 275px;
    padding-top: 10px;
}

.contacts__phone{
    height: 185px;
    clear: both;
}

.contacts__phone_left{
    height: 185px;
    width: 165px;
    float: left;
    background-image: url(../images/star-contacts.svg);
}

.icon-call{
    font-size: 60px;
    margin: 60px 60px;
}

.contacts__phone_right{
    padding: 30px 0px;    
}

.contacts__phone_right>p{
    font-size: 18px;
    font-weight: 600;    
}

.phone-operator{
    font-size: 12px;
    text-align: center;
    display: block;
    padding-right: 40px;
}

.contacts__mail{
    height: 90px;
    background: #88a788;
    text-align: center;   
}

.contacts__mail_mailskype{
    padding-top: 15px;
    font-size: 18px;
    font-weight: 600;    
}

.contacts__mail_mailskype>a{
    font-size: 18px;
    font-weight: 600;
    color: #2d2d2d;
    text-decoration: none;
}

/*map*/

#map{
    height: 300px;
    padding: 0;
}

/*footer*/

footer{
    height: 70px;
    background-color: #2d2d2d;
}

footer span{
    color: #ebedeb;
    font-size: 20px;
    
}

footer img{
    padding-top: 25px;
}

.icon-footer{
    color: #ebedeb;
    margin-top: 20px;
    font-size: 20px;
}

.icon-footer:hover{
    color: #bd7a60;    
}























